.categ-con{
    max-width: 1300px;
    width: 90%;
    margin: 110px auto;

    h2{
        text-align: center;
        margin-bottom: 60px;
        font-size: 48px;
        color: #503217;
        font-weight: 500;
    }

    .cards{
        display: flex;
        justify-content: space-between;
    }

    .product{
        display: flex;
        justify-content: space-between;
    }
}